[submodule "KeyBindings"]
	path = KeyBindings
	url = https://github.com/ttscoff/KeyBindings.git
[submodule "vim/bundle/fugitive"]
	path = vim/bundle/tpope-fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/raimondi-delimitMate"]
	path = vim/bundle/raimondi-delimitMate
	url = https://github.com/Raimondi/delimitMate
[submodule "vim/bundle/astashov-vim-ruby-debugger"]
	path = vim/bundle/astashov-vim-ruby-debugger
	url = https://github.com/astashov/vim-ruby-debugger
[submodule "vim/bundle/godlygeek-csapprox"]
	path = vim/bundle/godlygeek-csapprox
	url = https://github.com/godlygeek/csapprox.git
[submodule "vim/bundle/vim-scripts-AnsiEsc"]
	path = vim/bundle/vim-scripts-AnsiEsc
	url = https://github.com/vim-scripts/AnsiEsc.vim.git
[submodule "vim/bundle/garbas-vim-showmarks"]
	path = vim/bundle/garbas-vim-showmarks
	url = https://github.com/garbas/vim-showmarks
[submodule "vim/bundle/skwp-vim-colors-solarized"]
	path = vim/bundle/skwp-vim-colors-solarized
	url = https://github.com/skwp/vim-colors-solarized
[submodule "vim/bundle/skwp-vim-ruby-conque"]
	path = vim/bundle/skwp-vim-ruby-conque
	url = https://github.com/skwp/vim-ruby-conque
[submodule "vim/bundle/kogakure-vim-sparkup"]
	path = vim/bundle/kogakure-vim-sparkup
	url = https://github.com/kogakure/vim-sparkup.git
[submodule "vim/bundle/tomtom-tcomment_vim"]
	path = vim/bundle/tomtom-tcomment_vim
	url = https://github.com/tomtom/tcomment_vim.git
[submodule "vim/bundle/nelstrom-vim-markdown-preview"]
	path = vim/bundle/nelstrom-vim-markdown-preview
	url = https://github.com/nelstrom/vim-markdown-preview
[submodule "vim/bundle/scrooloose-nerdtree"]
	path = vim/bundle/scrooloose-nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/jistr-vim-nerdtree-tabs"]
	path = vim/bundle/jistr-vim-nerdtree-tabs
	url = https://github.com/jistr/vim-nerdtree-tabs.git
[submodule "vim/bundle/vim-scripts-AutoTag"]
	path = vim/bundle/vim-scripts-AutoTag
	url = https://github.com/vim-scripts/AutoTag.git
[submodule "vim/bundle/vim-scripts-IndexedSearch"]
	path = vim/bundle/vim-scripts-IndexedSearch
	url = https://github.com/vim-scripts/IndexedSearch
[submodule "vim/bundle/scrooloose-syntastic"]
	path = vim/bundle/scrooloose-syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "vim/bundle/Lokaltog-vim-easymotion"]
	path = vim/bundle/Lokaltog-vim-easymotion
	url = https://github.com/Lokaltog/vim-easymotion
[submodule "vim/bundle/vim-scripts-bufexplorer.zip"]
	path = vim/bundle/vim-scripts-bufexplorer.zip
	url = https://github.com/vim-scripts/bufexplorer.zip.git
[submodule "vim/bundle/sjbach-lusty"]
	path = vim/bundle/sjbach-lusty
	url = https://github.com/sjbach/lusty.git
[submodule "vim/bundle/tjennings-git-grep-vim"]
	path = vim/bundle/tjennings-git-grep-vim
	url = https://github.com/tjennings/git-grep-vim
[submodule "vim/bundle/skwp-greplace"]
	path = vim/bundle/skwp-greplace
	url = https://github.com/skwp/greplace.vim
[submodule "vim/bundle/tpope-vim-repeat"]
	path = vim/bundle/tpope-vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "vim/bundle/vim-scripts-taglist"]
	path = vim/bundle/vim-scripts-taglist
	url = https://github.com/vim-scripts/taglist.vim.git
[submodule "vim/bundle/tpope-vim-surround"]
	path = vim/bundle/tpope-vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim/bundle/tpope-vim-rails"]
	path = vim/bundle/tpope-vim-rails
	url = https://github.com/tpope/vim-rails.git
