custom/zsh

vim/backups
vim/view
*un~
vim/.netrwhist
vim/tmp
vim/spell
vim/after/.vimrc.after
vim/.local.bundles
vim/.local.bundles.bak
vim/plugged
vim/autoload/plug.vim
vim/sessions
.netrwhist
bin/subl
tags
