[submodule "KeyBindings"]
  path = KeyBindings
  url = https://github.com/ttscoff/KeyBindings.git
  ignore = dirty
[submodule "zsh/prezto"]
	path = zsh/prezto
	url = https://github.com/sorin-ionescu/prezto.git
  ignore = dirty
[submodule "vim/bundle/skwp-YankRing"]
	path = vim/bundle/skwp-YankRing
	url = https://github.com/skwp/YankRing.vim
  ignore = dirty
[submodule "vim/bundle/tpope-vim-abolish"]
	path = vim/bundle/tpope-vim-abolish
	url = https://github.com/tpope/vim-abolish
  ignore = dirty
[submodule "vim/bundle/jtratner-vim-flavored-markdown"]
	path = vim/bundle/jtratner-vim-flavored-markdown
	url = https://github.com/jtratner/vim-flavored-markdown.git
  ignore = dirty
[submodule "vim/bundle/xsunsmile-showmarks"]
	path = vim/bundle/xsunsmile-showmarks
	url = https://github.com/xsunsmile/showmarks.git
  ignore = dirty
[submodule "vim/bundle/digitaltoad-vim-jade"]
	path = vim/bundle/digitaltoad-vim-jade
	url = https://github.com/digitaltoad/vim-jade.git
  ignore = dirty
[submodule "vim/bundle/tpope-vim-ragtag"]
	path = vim/bundle/tpope-vim-ragtag
	url = https://github.com/tpope/vim-ragtag
  ignore = dirty
[submodule "vim/bundle/vim-scripts-TagHighlight"]
	path = vim/bundle/vim-scripts-TagHighlight
	url = https://github.com/vim-scripts/TagHighlight.git
  ignore = dirty
[submodule "vim/bundle/jelera-vim-javascript-syntax"]
	path = vim/bundle/jelera-vim-javascript-syntax
	url = https://github.com/jelera/vim-javascript-syntax.git
  ignore = dirty
[submodule "vim/bundle/itspriddle-vim-jquery"]
	path = vim/bundle/itspriddle-vim-jquery
	url = https://github.com/itspriddle/vim-jquery.git
  ignore = dirty
[submodule "vim/bundle/vim-slim"]
	path = vim/bundle/vim-slim
	url = https://github.com/slim-template/vim-slim.git
  ignore = dirty
[submodule "vim/bundle/airblade-vim-gitgutter"]
	path = vim/bundle/airblade-vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule "vim/bundle/puppetlabs-puppet-syntax-vim"]
	path = vim/bundle/puppetlabs-puppet-syntax-vim
	url = https://github.com/puppetlabs/puppet-syntax-vim.git
[submodule "vim/bundle/Finkregh-vim-dnstools"]
	path = vim/bundle/Finkregh-vim-dnstools
	url = https://github.com/Finkregh/vim-dnstools.git
[submodule "vim/bundle/vim-scripts-bufexplorer.zip"]
	path = vim/bundle/vim-scripts-bufexplorer.zip
	url = https://github.com/vim-scripts/bufexplorer.zip.git
[submodule "vim/bundle/rson-vim-bufstat"]
	path = vim/bundle/rson-vim-bufstat
	url = https://github.com/rson/vim-bufstat.git
[submodule "vim/bundle/bogado-file-line"]
	path = vim/bundle/bogado-file-line
	url = https://github.com/bogado/file-line.git
