custom/zsh

vim/backups
vim/view
*un~
vim/.netrwhist
vim/tmp
vim/spell
vim/after/.vimrc.after
vim/.vundles.local
vim/.vundles.local.bak
vim/autoload/plug.vim
vim/bundle
vim/sessions
vim/session
.netrwhist
bin/subl
tags
