	CMAKE_MINIMUM_REQUIRED(VERSION 2.6)
	PROJECT(${1:ProjectName})

	FIND_PACKAGE(${2:LIBRARY})

	INCLUDE_DIRECTORIES(
		${$2_INCLUDE_DIR}
	)

	ADD_SUBDIRECTORY(${3:src})

	ADD_EXECUTABLE($1)

	TARGET_LINK_LIBRARIES($1
		${$2_LIBRARIES}
	)
