<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />

	<title>${1:Untitled}</title>

	<link rel="stylesheet" href="${2:stylesheets/master.css}" />${3}

  <!--[if IE]><script>var e=("abbr,article,aside,audio,canvas,datalist,details,figure,footer,header,hgroup,mark,menu,meter,nav,output,progress,section,time,video").split(',');for(var i=0;i<e.length;i++){document.createElement(e[i]);}</script><![endif]-->
</head>
<body>

${4}

</body>
</html>
