<!DOCTYPE html>
<html lang="pt-BR">
    <head>
      <title>${1:Page Title}</title>

        <meta charset="utf-8">
        <meta name="keywords" content=""/>
        <meta name="description" content=""/>

        <link rel="stylesheet" href="css/style.css" media="screen" charset="utf-8">
        <link rel="shortcut icon" href="favicon.ico">

        <!--[if IE]>
          <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    </head>

    <body>
      <header>
      </header>

      <section id="main">
      </section>

      <footer>
      </footer>
    </body>
</html>
