
	/******************************************************************************/

	PROCEDURE ${1:ProcName}:

		${2}

	END PROCEDURE. /* $1 */

	/******************************************************************************/

