body.platform-mac .monospace, body.platform-mac .source-code {
  font-family: Monaco, monospace;
}

/* Keep .platform-mac to make the rule more specific than the general one above. */
body.platform-mac.platform-mac-snowleopard .monospace,
body.platform-mac.platform-mac-snowleopard .source-code {
  font-size: 13px !important;
  font-family: Menlo, monospace;
}

body.platform-windows .monospace, body.platform-windows .source-code {
  font-size: 14px !important;
  font-family: Consolas, Lucida Console, monospace;
}

body.platform-linux .monospace, body.platform-linux .source-code {
  font-size: 13px !important;
  font-family: dejavu sans mono, monospace;
}
