DROP TABLE IF EXISTS \`${1:name}\`;
CREATE TABLE \`$1\` (
	\`${2:id}\` ${3:integer unsigned}${4: NOT NULL}${5: AUTO_INCREMENT}${6:,}${10}
	${7:PRIMARY KEY (\`$2\`)}
)  ENGINE=${8:MyISAM} DEFAULT CHARSET=${9:latin1};
