\`creator_id\` integer unsigned NOT NULL DEFAULT '0',
\`modifier_id\` integer unsigned NOT NULL DEFAULT '0',
\`date_created\` datetime NOT NULL DEFAULT '0000-00-00 00:00:00',
\`date_modified\` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,${1}
