class ${1:ModelName}(models.Model):
	"""${2:docstring}"""
	${3}
	
	class Meta:
		${4}
	
	def __unicode__(self):
		return ${5}
	
	def save(self, force_insert=False, force_update=False):
		${6}
	
	@models.permalink
	def get_absolute_url(self):
		return ('${7:view_or_url_name}' ${8})
