# rst
## Some filesystems have trouble with some characters in these triggers in filenames, so leaving in here.

snippet :
	:${1:Text}: ${2:blah blah}
snippet *
	*${1:Emphasis}*
snippet **
	**${1:Strong emphasis}**
snippet =
	${1:Title}
	=====${2:=}
	${3}
snippet cont:
	.. contents::
	
